.player {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .player {

        &__name {
            text-align: center;
            font-size: 0.8rem;
            width: 60px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
