@use '../../../styles/variables' as *;

.select {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;

    &__label {
        font-size: 0.9rem;
        font-weight: $font-bold;
        color: $input-color;
    }

    &__field {
        padding: 10px 15px;
        border: 1px solid $input-border;
        border-radius: 100px;
        font-size: 0.9rem;
        font-weight: $font-regular;
        color: $input-color;
        background-color: $bg-soft;
    }
}
