// Background
$bg-dark: #330072;
$bg-soft: #1F0D3F;

// Foreground
$color: #fff;

// Inputs
$input-border: #BB65FF;
$input-color: $color;
$input-bg: #2f0050;
$placeholder-color: #9D9DA1;

// Buttons
$btn-bg-primary: #F6F7FC;
$btn-color-primary: $bg-dark;
$btn-bg-tertiary: #5d2cc5;

// Badge
$badge-bg: #c9b2ff;
$badge-color: #45007b;

// Table
$border-first: #8100dc;

// Card
$card-border: #ce75ff;
$card-bg: #bb65ff;
$card-color: $color;
$card-color-dark: #330072;
