.content-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  &__top-players {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100px;
      gap: 80px;
  }

  &__middle-area {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
  }

  &__side-players {
      display: grid;
      place-content: center;
      width: 80px;
      gap: 80px;
  }
}
