@use '../../../../styles/variables' as *;

.invite {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem 2rem;
    background-color: $btn-bg-tertiary;
  }

  &__close {
    display: grid;
    place-content: center;
  }

  &__title {
    font-size: 1.3rem;
    color: $color;
  }

  &__close {
    background-color: transparent;
    border: none;
    color: $color;
    cursor: pointer;
    font-size: 1.5rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: clamp(15rem, 80vw, 35rem);
    height: 100%;
    padding: 50px;
  }

  &__url {
    padding: 1rem;
    background-color: $bg-soft;
    border: 1px solid $input-border;
    border-radius: 99px;
    color: $input-color;
    width: 100%;
    text-wrap: nowrap;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
